@model IEnumerable<Product> //List<Product>

@{
    ViewData["Title"] = "Home Page";
}

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="100px;">@Html.DisplayNameFor(m => m.ProductId) </th>
                <th width="100px;">@Html.DisplayNameFor(m => m.Image) </th>
                <th>@Html.DisplayNameFor(m => m.Name) </th>
                <th width="100px;">@Html.DisplayNameFor(m => m.Price) </th>
                <th width="130px;"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var product in @Model)
        {
                <tr>
                    <td>@product.ProductId</td>
                    <td>
                        <img src="~/img/@product.Image" class="img-fluid" alt="">
                    </td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <a href="" class="btn btn-sm btn-primary">Edit</a>
                        <a href="" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
        }
        </tbody>
    </table>
